modules/cifrado-service/src/main/resources/META-INF/wsdl/cifrado.wsdl

<wsdl:definitions name="UtilitiesServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://tempuri.org/Imports">
         <xsd:import schemaLocation="http://pinteroperabilidad.supersociedades.gov.co:8085/Services/UtilitiesServices.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
         <xsd:import schemaLocation="http://pinteroperabilidad.supersociedades.gov.co:8085/Services/UtilitiesServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
         <xsd:import schemaLocation="http://pinteroperabilidad.supersociedades.gov.co:8085/Services/UtilitiesServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
         <xsd:import schemaLocation="http://pinteroperabilidad.supersociedades.gov.co:8085/Services/UtilitiesServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="IUtilitiesServices_NumerosALetras_InputMessage">
      <wsdl:part name="parameters" element="tns:NumerosALetras"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_NumerosALetras_OutputMessage">
      <wsdl:part name="parameters" element="tns:NumerosALetrasResponse"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_NumerosALetras_FaultExceptionFault_FaultMessage">
      <wsdl:part name="detail" element="q1:FaultException" xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaAnualAMensual_InputMessage">
      <wsdl:part name="parameters" element="tns:ConvertirTasaAnualAMensual"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaAnualAMensual_OutputMessage">
      <wsdl:part name="parameters" element="tns:ConvertirTasaAnualAMensualResponse"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaAnualAMensual_FaultExceptionFault_FaultMessage">
      <wsdl:part name="detail" element="q2:FaultException" xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaAnualADiaria_InputMessage">
      <wsdl:part name="parameters" element="tns:ConvertirTasaAnualADiaria"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaAnualADiaria_OutputMessage">
      <wsdl:part name="parameters" element="tns:ConvertirTasaAnualADiariaResponse"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaAnualADiaria_FaultExceptionFault_FaultMessage">
      <wsdl:part name="detail" element="q3:FaultException" xmlns:q3="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaMensualAAnual_InputMessage">
      <wsdl:part name="parameters" element="tns:ConvertirTasaMensualAAnual"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaMensualAAnual_OutputMessage">
      <wsdl:part name="parameters" element="tns:ConvertirTasaMensualAAnualResponse"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaMensualAAnual_FaultExceptionFault_FaultMessage">
      <wsdl:part name="detail" element="q4:FaultException" xmlns:q4="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaMensualADiaria_InputMessage">
      <wsdl:part name="parameters" element="tns:ConvertirTasaMensualADiaria"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaMensualADiaria_OutputMessage">
      <wsdl:part name="parameters" element="tns:ConvertirTasaMensualADiariaResponse"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirTasaMensualADiaria_FaultExceptionFault_FaultMessage">
      <wsdl:part name="detail" element="q5:FaultException" xmlns:q5="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_FechaFormato1_InputMessage">
      <wsdl:part name="parameters" element="tns:FechaFormato1"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_FechaFormato1_OutputMessage">
      <wsdl:part name="parameters" element="tns:FechaFormato1Response"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_FechaFormato1_FaultExceptionFault_FaultMessage">
      <wsdl:part name="detail" element="q6:FaultException" xmlns:q6="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_FechaFormato2_InputMessage">
      <wsdl:part name="parameters" element="tns:FechaFormato2"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_FechaFormato2_OutputMessage">
      <wsdl:part name="parameters" element="tns:FechaFormato2Response"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_FechaFormato2_FaultExceptionFault_FaultMessage">
      <wsdl:part name="detail" element="q7:FaultException" xmlns:q7="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_Cifrado_InputMessage">
      <wsdl:part name="parameters" element="tns:Cifrado"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_Cifrado_OutputMessage">
      <wsdl:part name="parameters" element="tns:CifradoResponse"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_Cifrado_FaultExceptionFault_FaultMessage">
      <wsdl:part name="detail" element="q8:FaultException" xmlns:q8="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_CalcularDigitoVerificacion_InputMessage">
      <wsdl:part name="parameters" element="tns:CalcularDigitoVerificacion"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_CalcularDigitoVerificacion_OutputMessage">
      <wsdl:part name="parameters" element="tns:CalcularDigitoVerificacionResponse"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_CalcularDigitoVerificacion_FaultExceptionFault_FaultMessage">
      <wsdl:part name="detail" element="q9:FaultException" xmlns:q9="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirPdf_InputMessage">
      <wsdl:part name="parameters" element="tns:ConvertirPdf"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirPdf_OutputMessage">
      <wsdl:part name="parameters" element="tns:ConvertirPdfResponse"/>
   </wsdl:message>
   <wsdl:message name="IUtilitiesServices_ConvertirPdf_FaultExceptionFault_FaultMessage">
      <wsdl:part name="detail" element="q10:FaultException" xmlns:q10="http://schemas.datacontract.org/2004/07/System.ServiceModel"/>
   </wsdl:message>
   <wsdl:portType name="IUtilitiesServices">
      <wsdl:operation name="NumerosALetras">
         <wsdl:input wsaw:Action="http://tempuri.org/IUtilitiesServices/NumerosALetras" message="tns:IUtilitiesServices_NumerosALetras_InputMessage"/>
         <wsdl:output wsaw:Action="http://tempuri.org/IUtilitiesServices/NumerosALetrasResponse" message="tns:IUtilitiesServices_NumerosALetras_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://tempuri.org/IUtilitiesServices/NumerosALetrasFaultExceptionFault" name="FaultExceptionFault" message="tns:IUtilitiesServices_NumerosALetras_FaultExceptionFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="ConvertirTasaAnualAMensual">
         <wsdl:input wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaAnualAMensual" message="tns:IUtilitiesServices_ConvertirTasaAnualAMensual_InputMessage"/>
         <wsdl:output wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaAnualAMensualResponse" message="tns:IUtilitiesServices_ConvertirTasaAnualAMensual_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaAnualAMensualFaultExceptionFault" name="FaultExceptionFault" message="tns:IUtilitiesServices_ConvertirTasaAnualAMensual_FaultExceptionFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="ConvertirTasaAnualADiaria">
         <wsdl:input wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaAnualADiaria" message="tns:IUtilitiesServices_ConvertirTasaAnualADiaria_InputMessage"/>
         <wsdl:output wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaAnualADiariaResponse" message="tns:IUtilitiesServices_ConvertirTasaAnualADiaria_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaAnualADiariaFaultExceptionFault" name="FaultExceptionFault" message="tns:IUtilitiesServices_ConvertirTasaAnualADiaria_FaultExceptionFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="ConvertirTasaMensualAAnual">
         <wsdl:input wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaMensualAAnual" message="tns:IUtilitiesServices_ConvertirTasaMensualAAnual_InputMessage"/>
         <wsdl:output wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaMensualAAnualResponse" message="tns:IUtilitiesServices_ConvertirTasaMensualAAnual_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaMensualAAnualFaultExceptionFault" name="FaultExceptionFault" message="tns:IUtilitiesServices_ConvertirTasaMensualAAnual_FaultExceptionFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="ConvertirTasaMensualADiaria">
         <wsdl:input wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaMensualADiaria" message="tns:IUtilitiesServices_ConvertirTasaMensualADiaria_InputMessage"/>
         <wsdl:output wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaMensualADiariaResponse" message="tns:IUtilitiesServices_ConvertirTasaMensualADiaria_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirTasaMensualADiariaFaultExceptionFault" name="FaultExceptionFault" message="tns:IUtilitiesServices_ConvertirTasaMensualADiaria_FaultExceptionFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="FechaFormato1">
         <wsdl:input wsaw:Action="http://tempuri.org/IUtilitiesServices/FechaFormato1" message="tns:IUtilitiesServices_FechaFormato1_InputMessage"/>
         <wsdl:output wsaw:Action="http://tempuri.org/IUtilitiesServices/FechaFormato1Response" message="tns:IUtilitiesServices_FechaFormato1_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://tempuri.org/IUtilitiesServices/FechaFormato1FaultExceptionFault" name="FaultExceptionFault" message="tns:IUtilitiesServices_FechaFormato1_FaultExceptionFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="FechaFormato2">
         <wsdl:input wsaw:Action="http://tempuri.org/IUtilitiesServices/FechaFormato2" message="tns:IUtilitiesServices_FechaFormato2_InputMessage"/>
         <wsdl:output wsaw:Action="http://tempuri.org/IUtilitiesServices/FechaFormato2Response" message="tns:IUtilitiesServices_FechaFormato2_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://tempuri.org/IUtilitiesServices/FechaFormato2FaultExceptionFault" name="FaultExceptionFault" message="tns:IUtilitiesServices_FechaFormato2_FaultExceptionFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="Cifrado">
         <wsdl:input wsaw:Action="http://tempuri.org/IUtilitiesServices/Cifrado" message="tns:IUtilitiesServices_Cifrado_InputMessage"/>
         <wsdl:output wsaw:Action="http://tempuri.org/IUtilitiesServices/CifradoResponse" message="tns:IUtilitiesServices_Cifrado_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://tempuri.org/IUtilitiesServices/CifradoFaultExceptionFault" name="FaultExceptionFault" message="tns:IUtilitiesServices_Cifrado_FaultExceptionFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="CalcularDigitoVerificacion">
         <wsdl:input wsaw:Action="http://tempuri.org/IUtilitiesServices/CalcularDigitoVerificacion" message="tns:IUtilitiesServices_CalcularDigitoVerificacion_InputMessage"/>
         <wsdl:output wsaw:Action="http://tempuri.org/IUtilitiesServices/CalcularDigitoVerificacionResponse" message="tns:IUtilitiesServices_CalcularDigitoVerificacion_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://tempuri.org/IUtilitiesServices/CalcularDigitoVerificacionFaultExceptionFault" name="FaultExceptionFault" message="tns:IUtilitiesServices_CalcularDigitoVerificacion_FaultExceptionFault_FaultMessage"/>
      </wsdl:operation>
      <wsdl:operation name="ConvertirPdf">
         <wsdl:input wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirPdf" message="tns:IUtilitiesServices_ConvertirPdf_InputMessage"/>
         <wsdl:output wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirPdfResponse" message="tns:IUtilitiesServices_ConvertirPdf_OutputMessage"/>
         <wsdl:fault wsaw:Action="http://tempuri.org/IUtilitiesServices/ConvertirPdfFaultExceptionFault" name="FaultExceptionFault" message="tns:IUtilitiesServices_ConvertirPdf_FaultExceptionFault_FaultMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="BasicHttpBinding_IUtilitiesServices" type="tns:IUtilitiesServices">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="NumerosALetras">
         <soap:operation soapAction="http://tempuri.org/IUtilitiesServices/NumerosALetras" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultExceptionFault">
            <soap:fault name="FaultExceptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ConvertirTasaAnualAMensual">
         <soap:operation soapAction="http://tempuri.org/IUtilitiesServices/ConvertirTasaAnualAMensual" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultExceptionFault">
            <soap:fault name="FaultExceptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ConvertirTasaAnualADiaria">
         <soap:operation soapAction="http://tempuri.org/IUtilitiesServices/ConvertirTasaAnualADiaria" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultExceptionFault">
            <soap:fault name="FaultExceptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ConvertirTasaMensualAAnual">
         <soap:operation soapAction="http://tempuri.org/IUtilitiesServices/ConvertirTasaMensualAAnual" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultExceptionFault">
            <soap:fault name="FaultExceptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ConvertirTasaMensualADiaria">
         <soap:operation soapAction="http://tempuri.org/IUtilitiesServices/ConvertirTasaMensualADiaria" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultExceptionFault">
            <soap:fault name="FaultExceptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="FechaFormato1">
         <soap:operation soapAction="http://tempuri.org/IUtilitiesServices/FechaFormato1" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultExceptionFault">
            <soap:fault name="FaultExceptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="FechaFormato2">
         <soap:operation soapAction="http://tempuri.org/IUtilitiesServices/FechaFormato2" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultExceptionFault">
            <soap:fault name="FaultExceptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="Cifrado">
         <soap:operation soapAction="http://tempuri.org/IUtilitiesServices/Cifrado" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultExceptionFault">
            <soap:fault name="FaultExceptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="CalcularDigitoVerificacion">
         <soap:operation soapAction="http://tempuri.org/IUtilitiesServices/CalcularDigitoVerificacion" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultExceptionFault">
            <soap:fault name="FaultExceptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ConvertirPdf">
         <soap:operation soapAction="http://tempuri.org/IUtilitiesServices/ConvertirPdf" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="FaultExceptionFault">
            <soap:fault name="FaultExceptionFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="UtilitiesServices">
      <wsdl:port name="BasicHttpBinding_IUtilitiesServices" binding="tns:BasicHttpBinding_IUtilitiesServices">
         <soap:address location="http://pinteroperabilidad.supersociedades.gov.co:8085/Services/UtilitiesServices.svc"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>